<body class="subpage">

    <app-nav-bar></app-nav-bar>

        <section id="main" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2>Check out some of our recent projects</h2>
                </header>
                <hr class="major" />

                    <div class="box alt">
                        <div class="row 50% uniform">
                            <div class="4u"><span class="image fit"><img src="../../../assets/images/deck-before1.JPG" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../../assets/images/deck-before2.JPG" alt="" /></span></div>
                            <div class="4u$"><span class="image fit"><img src="../../../assets/images/deck-before3.JPG" alt="" /></span></div>
                            
                            <div class="4u"><span class="image fit"><img src="../../../assets/images/deck-before4.JPG" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../../assets/images/fence-before.JPG" alt="" /></span></div>
                            <div class="4u$"><span class="image fit"><img src="../../../assets/images/deck-after1.JPG" alt="" /></span></div>
    
                            <div class="4u"><span class="image fit"><img src="../../../assets/images/deck-after2.JPG" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../../assets/images/deck-after3.JPG" alt="" /></span></div>
                            <div class="4u"><span class="image fit"><img src="../../../assets/images/deck-after4.JPG" alt="" /></span></div>
                            <div class="4u$"><span class="image fit"><img src="../../../assets/images/fence-after.JPG" alt="" /></span></div>
                        </div>
                    </div>
    
                    <hr class="major" />

                <div class="box alt">
                    <div class="row 50% uniform">
                        <div class="4u"><span class="image fit"><img src="../../../assets/images/outside-house-before1.JPG" alt="" /></span></div>
                        <div class="4u"><span class="image fit"><img src="../../../assets/images/outside-house-before2.JPG" alt="" /></span></div>
                        <div class="4u$"><span class="image fit"><img src="../../../assets/images/outside-house-before3.JPG" alt="" /></span></div>
                        
                        <div class="4u"><span class="image fit"><img src="../../../assets/images/outside-house-after1.JPG" alt="" /></span></div>
                        <div class="4u"><span class="image fit"><img src="../../../assets/images/outside-house-after2.JPG" alt="" /></span></div>
                    </div>
                </div>

                <hr class="major" />


                <div class="portfolio-container">
                        <img class="grid-img" src="../../../assets/images/carmen-ceiling.jpeg" alt="carmen-ceiling" />
                        <blockquote class="grid-quote">
                            “He’s so meticulous —it’s wonderful! You can’t tell where he made the whole to repair the leak in my ceiling”
                            - Carmen Concepcion
                        </blockquote>
                </div>