    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>What do we offer?</h1>
            </header>

            <div class="flex ">

                <div>
                    <span class="icon fa-dollar"></span>
                    <h3>Fair Prices</h3>
                    <p>Best bang for your buck</p>
                </div>

                <div>
                    <span class="icon fa-handshake-o"></span>
                    <h3>Customer Service</h3>
                    <p>We listen to all of your concerns</p>
                </div>

                <div>
                    <span class="icon fa-wrench"></span>
                    <h3>Quality Work</h3>
                    <p>Work quick while</p>
                    <p>never sacrificing quality</p>
                </div>

            </div>

            <footer>
                <button (click)="toQuote()" class="button">Get Quote</button>
            </footer>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper align-center">
        <div class="inner">
            <div class="flex flex-2">
                <article>
                    <div class="image round">
                        <img src="../../../assets/images/conrado-gomez-pic.jpeg" alt="conrado-gomez-pic" />
                    </div>
                    <header>
                        <h3>Get to know us a little better</h3>
                    </header>
                    <p>Gomez Construction has over 20 years of experience in all things <br />construction including drywall, decking, siding and much more.<br /> Contact us for a quote today!</p>
                    <footer>
                        <a routerLink="/about" class="button">Learn More</a>
                    </footer>
                </article>
                <article>
                    <div class="image round">
                        <img src="../../../assets/images/deck-resized.JPG" alt="Deck" class="resize"/>
                    </div>
                    <header>
                        <h3>Are we a good fit for your project? <br /> Browse through our portfolio</h3>
                    </header>
                    <p>Our portfolio is full of recent projects we've done,<br /> accompanied with a review from the customer.</p>
                    <footer>
                        <a routerLink="/portfolio" class="button">View Portfolio</a>
                    </footer>
                </article>
            </div>
        </div>
    </section>