<body class="subpage">
    <app-nav-bar></app-nav-bar>
    <section id="three" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>About Us</h2>
                <p>Gomez Construction</p>
            </header>
            <div class="align-center">
                <img src="../../../assets/images/conrado-gomez-pic.jpeg" alt="conrado pic" class="size"/>
            </div>
            <p>
                Over 25 years of experience in construction allows us to provide the best quality of work. We never overcharge and make sure the customer is happy with the final product. We have experience in just about every aspect of construction and are confident you'll be very pleased with our work!
            </p> 
        </div>
    </section>
</body>
